
<h1 class="title">List of Projects</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Location</th>
      <th>Client name</th>
      <th colspan="4" class="center"> Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.location %></td>
        <td><%= project.client_name %></td>
        <td><%= link_to 'Details', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Manage Tasks', project_tasks_path(project)%> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Project', new_project_path, class: 'btn btn-success btn-block' %>
